= form_tag password_resets_path, class: 'form-signin' do
  %h2= t('terms.please_input_email_for_newpassword')
  .field
    = email_field_tag :email, nil, placeholder: 'Email', class: 'input-block-level'
  .field
    = submit_tag t('actions.reset_password'), class: 'btn btn-primary'
