Congratz,
= @user.name
\===============================================

You have successfully activated your Internal Wiki account,
your username is:
= @user.email

Thanks for joining and have a great day!

= @url
