\-----------------------------------------------
\              Internal Wiki
\-----------------------------------------------

= "#{@user.name} さん"

Wikiにユーザ登録されました。
= @user.email


\-------------
enjoy!
= @url
