%h1 Listing pages

%table
  %tr
    %th Name
    %th
    %th

  - @pages.each do |page|
    %tr
      %td= link_to page.name, wiki_information_page_path(@wiki_info, page)
      %td= link_to '編集', edit_wiki_information_page_path(@wiki_info, page)
      %td= link_to '削除', wiki_information_page_path(@wiki_info, page), method: :delete, data: { confirm: '削除します。よろしいですか？'}

%br

= link_to '新規ページ', new_wiki_information_page_path
