/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require font-awesome
 *= require_tree .
 */

@import "font-awesome";

.field_with_errors label {
  padding: 2px;
  background-color: #F2DEDE;
}

#page-content, #preview-result {
  table, td, th {
    border: 1px #000 solid;
    padding: 3px;
  }
}

div.well.search-result {
  overflow-y: scroll;
  max-height: 200px;
  height: 100%;

  strong.highlight {
    background-color: yellow;
  }
}
